[workspace]
members = [
    "dataprep",
    "dataprep-lib"
]
[workspace.package]
# All packages in the workspace will have the same version (for now)
version = "0.1.0"
license = "MIT"
edition = "2021"
repository = "https://github.com/banyancomputer/dataprep"

[workspace.dependencies]
# Our core library -- is a dependency of the binary
dataprep-lib = { version = "0.1.0", path = "dataprep-lib" }
# Dependencies
clap = { version = "4.0.32", features = ["derive"] }
anyhow = { version = "1", features = ["backtrace"] }
tokio = { version = "1.24", features = ["full", "io-util", "fs"]}
tokio-stream = { version = "0.1.11", features = ["fs"]}
jwalk = "0.8.1"
rand = "0.8.4"
blake2 = "0.10.6"
uuid = { version = "1.2.2", features = ["v4"]}
serde ={version= "1.0.152", features = ["derive"]}
serde_json = { version = "1.0.72", features = ["std"]}
printio = "0.2.2" # TODO (laudiacay) eventually you want to use CBOR but debug with JSON
futures = "0.3.0"
age = {version = "0.9.0", features = ["async"]}
# Dev dependencies
fs_extra = "1.3.0"
fake-file = "0.1.0"
lazy_static = "1.4"
criterion = {version = "0.4.0", features = ["async_tokio"]}
dir-assert = { git = "https://github.com/banyancomputer/dir-assert.git", branch = "non-utf8" }
zstd = "0.12.3"

[patch]

[profile.dev]
split-debuginfo = "unpacked"

[profile.release]
